body {
    font-family: Arial, sans-serif;
    text-align: center;
}

label {
    margin-bottom: 5px;
}

input {
    text-align: center;
    width: 60px;
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#timer {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}